{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <div class="text-faded">{{ . | markdownify }}</div>
                {{ end }}
                {{ if .Site.Params.about.buttonText }}
                    {{ if .Site.Params.about.url }}
                        <a href="{{ .Site.Params.about.url }}" class="btn btn-default btn-xl page-scroll">{{ .Site.Params.about.buttonText }}</a>
                    {{ else }}
                        <a href="#" class="btn btn-default btn-xl page-scroll">{{ .Site.Params.about.buttonText }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
