<script>
    if (!emailDecode) {
        var emailDecode = function(node) {
            var href;
            if (typeof (node) === 'string') {
                href = node;
            } else {
                href = node.getAttribute('href');
            }
            if (href.startsWith('mailto:')) {
                href = href.substr(7);
            }
            if (href.indexOf('@') !== -1) {
                return;
            }
            var email = window.atob(href);
            if (typeof (node) !== 'string') {
                node.setAttribute('href', 'mailto:' + email);
                if (node.textContent === href) {
                    node.textContent = email;
                }
            }
            return email;
        }
        window.addEventListener('load', function() {
            var elements = document.getElementsByClassName('email-decode');
            for (var i = 0; i < elements.length; i++) {
                emailDecode(elements[i]);
            }
        });
    }
</script>
