<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<title>{{ .Site.Title }}</title>

{{ "<!-- Favicon -->" | safeHTML }}
<link rel="shortcut icon" href="{{ .Site.Params.favicon | absURL }}">
<style>
#startupdiv {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: #fff;
    z-index:9999;
}
</style>
