<script>
var fbscript = document.createElement('script');
fbscript.src = 'js/fallback.min.js';
fbscript.onload = function() {
fallback.load({
    // <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    bootstrap_css: {
        urls: [
            '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css',
            'css/bootstrap.min.css'
        ],
        integrity: 'sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=',
        crossorigin: 'anonymous'
    },

    creative_css: {
        urls: [
            'css/creative.min.css',
            'css/creative.css'
        ]
    }
});
fallback.ready(['bootstrap_css', 'creative_css'], function() {
    var chours = new Date().getHours();
    if (chours > 20 || chours < 6) {
        document.getElementsByTagName('header')[0].style = "background-image: url(img/header1s.jpg);";
    } else {
        document.getElementsByTagName('header')[0].style = "background-image: url(img/header2s.jpg);";
    }
    document.getElementById('startupdiv').style = "display: none;";
});
fallback.load({
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous">
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    jQuery: {
        urls: [
            '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js',
            'js/jquery.min.js'
        ],
        integrity: 'sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==',
        crossorigin: 'anonymous'
    },
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous">
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
    // jquery: {
    //     urls: [
    //         '//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js',
    //         'js/jquery.slim.min.js'
    //     ],
    //     integrity: 'sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==',
    //     crossorigin: 'anonymous'
    // }
});
fallback.ready([], function() {
    fallback.load({
        // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous">
        'jQuery.easing.easeInBounce': {
            urls: [
                '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js',
                'js/jquery.easing.min.js'
            ],
            integrity: 'sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=',
            crossorigin: 'anonymous'
        },

        // <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js" integrity="sha256-HfH85PYPD7XPxN3MmppGXnxsLZUrlu0dN/Kn4H7DA4E=" crossorigin="anonymous">
        'jQuery().fitText': {
            urls: [
                '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js',
                'js/jquery.fittext.min.js'
            ],
            integrity: 'sha256-HfH85PYPD7XPxN3MmppGXnxsLZUrlu0dN/Kn4H7DA4E=',
            crossorigin: 'anonymous'
        }
    },
    {
        shim: {
            'jQuery.easing.easeInBounce': ['jQuery'],
            'jQuery().fitText': ['jQuery']
        }
    });
    fallback.ready([], function() {
        fallback.load({
            // <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
            fonts_css: {
                urls: [
                    '//gfont.n4v.eu/https/fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap&.css',
                    'css/fonts.min.css',
                    'css/fonts.css'
                ],
                crossorigin: 'anonymous'
            },

            // <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
            fontawesome_css: {
                urls: [
                    '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css',
                    '/font-awesome/css/font-awesome.min.css'
                ],
                integrity: 'sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=',
                crossorigin: 'anonymous'
            },

            // <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous">
            'jQuery().scrollspy': {
                urls: [
                    '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js',
                    'js/bootstrap.min.js'
                ],
                integrity: 'sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=',
                crossorigin: 'anonymous'
            },

            // <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha256-j+P6EZJVrbXgwSR5Mx+eCS6FvP9Wq27MBRC/ogVriY0=" crossorigin="anonymous" />
            animate_css: {
                urls: [
                    '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css',
                    'css/animate.min.css'
                ],
                integrity: 'sha256-j+P6EZJVrbXgwSR5Mx+eCS6FvP9Wq27MBRC/ogVriY0=',
                crossorigin: 'anonymous'
            },

            // <script src="https://cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.2/wow.min.js" integrity="sha256-gopJVYlh0S1SDzGgSVfVDKq3r27Lc8SzPE0FJ+c4EVk=" crossorigin="anonymous">
            WOW: {
                urls: [
                    '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.2/wow.min.js',
                    'js/wow.min.js'
                ],
                integrity: 'sha256-gopJVYlh0S1SDzGgSVfVDKq3r27Lc8SzPE0FJ+c4EVk=',
                crossorigin: 'anonymous'
            }
        }, {
            shim: {
                'jQuery().scrollspy': ['jQuery'],
                'WOW': ['jQuery'],
            }
        });
        fallback.ready([], function() {
            fallback.load({
                creative_js: {
                    urls: [
                        'js/creative.min.js'
                    ]
                },

                modals_css: {
                    urls: [
                        'css/modals.min.css',
                        'css/modals.css'
                    ]
                }
            },
            {
                shim: {
                    'creative_js': ['jQuery().scrollspy', 'jQuery.easing.easeInBounce', 'jQuery().fitText', 'WOW']
                }
            });
        });
    });
});
};
document.body.appendChild(fbscript);
</script>
{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
<script>
var fbscript2 = document.createElement('script');
fbscript2.onload = function() {
fallback.ready([], function() {
    fallback.load({
        // <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous">
        'html5shiv': {
            urls: [
                '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js',
                'js/html5shiv.min.js'
            ],
            integrity: 'sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=',
            crossorigin: 'anonymous'
        },
        // <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous">
        'respond': {
            urls: [
                '//gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js',
                'js/respond.min.js'
            ],
            integrity: 'sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=',
            crossorigin: 'anonymous'
        },
    });
});
};
document.body.appendChild(fbscript2);
</script>
{{ "<![endif]-->" | safeHTML }}
<noscript>
    <link rel="stylesheet" href="https://gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/creative.min.css" crossorigin="anonymous" />
    <link href="https://gfont.n4v.eu/https/fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://gfont.n4v.eu/https/cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" integrity="sha256-j+P6EZJVrbXgwSR5Mx+eCS6FvP9Wq27MBRC/ogVriY0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/modals.min.css" crossorigin="anonymous" />
    <style>#startupdiv { display: none; }</style>
</noscript>
