{{ "<!-- PRIVACY -->" | safeHTML }}
{{ partial "emaildecode-js.html" . }}
<section class="bg-primary" id="privacy">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.privacy.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.privacy.headline .Site.Params.privacy.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.privacy.description }}
                    <div class="text-faded">{{ . | markdownify }}</div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            {{ if .Site.Params.privacy.phone }}
            <div class="
                {{ if .Site.Params.privacy.email }}
                    col-lg-2 col-lg-offset-4 col-sm-3 col-sm-offset-3
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><a href="tel:{{ .Site.Params.privacy.phone }}" rel="nofollow">{{ .Site.Params.privacy.phone }}</a></p>
            </div>
            {{ end }}
            {{ if .Site.Params.privacy.email }}
            <div class="
                {{ if .Site.Params.privacy.phone }}
                    col-lg-2 col-sm-3
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.privacy.email | base64Encode }}" class="email-decode">{{ .Site.Params.privacy.email | base64Encode }}</a></p>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            {{ with .Site.Params.privacy.subheadline }}
                <h2 class="section-heading">{{ . }}</h2>
            {{ end }}
            {{ if and .Site.Params.privacy.subheadline .Site.Params.privacy.subdescription }}
                <hr class="light">
            {{ end }}
            {{ with .Site.Params.privacy.subdescription }}
                <div class="text-faded">{{ . | markdownify }}</div>
            {{ end }}
            </div>
        </div>
    </div>
</section>
